<div class="page-body">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let subject of subjects" >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{subject.name}}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{subject.code}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>By clicking you can list the available courses.</p>
                <button mat-raised-button class="mat-primary" [routerLink]="'/course/' + subject.id">Courses</button>
            </mat-expansion-panel>
    </mat-accordion>
</div>
