<div class="page-body">
    <h1 class="mat-h1">Students</h1>
    <div class="students-header">
        <mat-form-field>
            <input matInput (keyup)="applyStudentsFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
    </div>

    <div class="students-container mat-elevation-z8">
        <mat-table #table [dataSource]="studentsDataSource" matSort>

            <ng-container matColumnDef="username">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="mark">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Mark </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div *ngIf="canWriteMark(); else ELSE">
                        <form>
                            <mat-form-field>
                                <input matInput 
                                        placeholder="Rate this student" 
                                        type="number" 
                                        [value]="element.mark" 
                                        (blur)="saveMark(element.userId, $event.target.value)">
                            </mat-form-field>
                        </form>
                    </div>
                    <ng-template #ELSE>
                        {{element.mark}}
                    </ng-template>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="control">
                <mat-header-cell *matHeaderCellDef mat-sort-header> # </mat-header-cell>
                <mat-cell *matCellDef="let element">
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
    </div>
</div>
