<div class="page-body">
    <mat-toolbar color="primary">
        <span>Training</span>
    </mat-toolbar>      
    <ol class="breadcrumb">
        <li><a [routerLink]="'/home'">Home</a></li>
        <li class="active-breadcrumb">Training</li>
    </ol>  

    <mat-tab-group>
        <mat-tab label="All trainings">
            <div class="training-header">
                <mat-form-field>
                    <input matInput (keyup)="applyAllTrainingsFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>
            <div class="training-container mat-elevation-z8">
                <mat-table #table [dataSource]="allTrainingsDataSource" matSort>
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="control">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> # </mat-header-cell>
                        <mat-cell *matCellDef="let element">  
                            <button mat-raised-button color="primary" (click)="registerTraining(element)">
                                Register
                            </button>
                        </mat-cell>
                    </ng-container>            
        
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
        </mat-tab>
        <mat-tab label="My trainings">
            <div class="training-header">
                <mat-form-field>
                    <input matInput (keyup)="applyMyTrainingsFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>
                <div class="training-container mat-elevation-z8">
                    <mat-table #table [dataSource]="myTrainingsDataSource" matSort>
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                        </ng-container>
            
                        <ng-container matColumnDef="control">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> # </mat-header-cell>
                            <mat-cell *matCellDef="let element">  
                                <button mat-raised-button color="warn" (click)="unregisterTraining(element)">
                                    Unregister
                                </button>
                            </mat-cell>
                        </ng-container>  

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div>
        </mat-tab>
    </mat-tab-group>
</div>
