<div class="page-body">
    <h2 class="mat-h2">Registered</h2>
    <mat-accordion>
        <div>
            <mat-expansion-panel *ngFor="let training of registeredTrainings">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      {{training.name}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>By clicking on unregistration you loose all your credits.</p>
                <button mat-raised-button class="mat-warn" (click)="unregisterTraining(training)">Unregister</button>
            </mat-expansion-panel>
        </div>
        <br>
        <h2 class="mat-h2">Unregistered</h2>
        <div>
            <mat-expansion-panel *ngFor="let training of unregisteredTrainings">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{training.name}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>By clicking on registration you will start something new and amazing.</p>
                <button mat-raised-button class="mat-primary" (click)="registerTraining(training)">Register</button>
            </mat-expansion-panel>
        </div>
  </mat-accordion>
</div>
