<div class="page-body">
    <mat-toolbar color="primary">
        <span>Course</span>
    </mat-toolbar>      
    <ol class="breadcrumb">
        <li><a [routerLink]="'/home'">Home</a></li>
        <li><a [routerLink]="'/subject'">Subject</a></li>
        <li class="active-breadcrumb">Course</li>
    </ol> 
    
    <div class="subject-header">
        <mat-form-field>
            <input matInput (keyup)="applyCoursesFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
    </div>

    <div class="subject-container mat-elevation-z8">
            <mat-table #table [dataSource]="coursesDataSource" matSort>

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.subjectName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="code">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Code </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.subjectCode}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="teacher">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Teacher </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.teacherName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="capacity">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Capacity </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.capacity}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="control">
                <mat-header-cell *matHeaderCellDef mat-sort-header> # </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <a mat-raised-button color="primary" [routerLink]="'/user-course-list/' + element.id">
                        Students
                    </a>

                    <span *ngIf="element.registered; else ELSE">
                        <a mat-raised-button color="warn" (click)="unregister(element.id)">
                            Unregister
                        </a>
                    </span>

                    <ng-template #ELSE>
                        <a mat-raised-button color="primary" (click)="register(element.id)">
                            Register
                        </a>
                    </ng-template>
                    
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
    </div>
</div>
