<mat-toolbar id="top-menu" color="primary">
  <div class="left-side">
    <h1 class="mat-h1">Venus |  </h1>
  </div>

  <div class="center">
      <div *ngIf="authService.isLoggedIn()" class="authorized">
          <button mat-button [matMenuTriggerFor]="menu">Administrations</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/training">Trainings</button>
            <button mat-menu-item routerLink="/semester">Semesters</button>
          </mat-menu>   

          <button mat-button routerLink="/subject">Subjects</button>
      </div>
  </div>

  <div class="right-side">
    <div *ngIf="!authService.isLoggedIn()" class="unauthorized">
      <a mat-button routerLink="/login" routerLinkActive="active">Login</a>/
      <a mat-button routerLink="/register"
         routerLinkActive="active">Register</a>
    </div>

    <div *ngIf="authService.isLoggedIn()" class="authorized">
      <button mat-button (click)="authService.logout()">Logout</button>
    </div>
  </div>
</mat-toolbar>